* {
  box-sizing: border-box;
}

img {
  max-width: 100%;
}

html, body {
  height: 100%;
}

body {
  background: pink;
  margin: 0;
  padding: 0;
}

.cat-wrapper {
  margin: 0 auto;
  position: relative;
}

.cat-box {
  width: 300px;
  position: relative;
  margin: 0 auto;
  cursor: pointer;
  float: left;
  margin: 44px;
}

.cat-box:active .cat-image {
  transform: translate(0, 2px);
}

.cat-name {
  margin: 0;
  text-transform: lowercase;
  font-style: italic;
  text-align: center;
}

.cat-image {
  margin: 0 auto;
  display: block;
  border-radius: 50%;
  border: 30px solid wheat;
}

.click-counter {
  background: white;
  border: 8px solid wheat;
  text-align: center;
  width: 66px;
  height: 66px;
  line-height: 50px;
  font-family: sans-serif;
  font-weight: bold;
  font-size: 25px;
  border-radius: 50%;
  box-shadow: 5px 5px rgba(0,0,0, .25);
  position: absolute;
  right: 9px;
  bottom: 230px;
}
